@{
    ViewData["Title"] = "Sales List";
}

<style>
    td.details-control {
        background: url('lib/jqueryDataTable/css/images/details_open.png') no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('lib/jqueryDataTable/css/images/details_close.png') no-repeat center center;
    }

    td.donwload-control {
        background: url('img/pdfDownload.jpg') no-repeat center center;
        cursor: pointer;
    }
    #tblSalesList_wrapper{
        width:620px;
        margin:0px auto;
    }
</style>

<div class="row">
    <table id="tblSalesList" class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Sl</th>
                <th>Invoice</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Discount</th>
                <th>Details</th>
                <th>Invoice</th>
            </tr>
            <tr>
                <th>Sl</th>
                <th>Invoice</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Discount</th>
                <th>Details</th>
                <th>Invoice</th>
            </tr>
        </thead>
    </table>
</div>


@section scripts{
    <script>
        $(document).ready(function () {

            var saleTable = $('#tblSalesList').DataTable({
                lengthMenu: [[10, 20, 50, 100], [10, 20, 50, 100]],
                processing: true,
                searching: true,
                //serverSide: true,
                //scrollX: true,
                //fixedColumns: { leftColumns: 0, rightColumns: 1 },
                ajax: {
                    //"url": "/Prescription/Patients/AllProduct",
                    "url": "@Url.Action("AllSales", "Sale")",
                    "type": "POST",
                    contentType: "application/json",
                    "datatype": "json",
                    data: function (d) {
                        return JSON.stringify(d);
                    }
                },
                columns: [
                    { 'data': 'sl', 'orderable': 'false' },
                    { 'data': 'id' },
                    { 'data': 'salesDate' },
                    { 'data': 'discountAmount' },
                    { 'data': 'totalAmount' },
                    {
                        "className": 'details-control',
                        "orderable": false,
                        "data": null,
                        "defaultContent": ''
                    },
                    {
                        "className": 'donwload-control',
                        "orderable": false,
                        "data": null,
                        "defaultContent": ''
                    }
                ]
            });

            $(saleTable.table().container()).on('keyup', 'thead input', function () {
                var searchText = this.value.trim();
                saleTable.column($(this).parent().index() + ':visible')
                        .search(searchText)
                        .draw();
            });

            $('#tblSalesList tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = saleTable.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    $.ajax({
                         url: '@Url.Action("GetSaleDetailsByInvoice", "Sale")',
                         type: 'GET',
                        data: { id: row.data().id }
                    }).done(function (response) {
                        //row.data()
                        row.child(format(response)).show();
                         tr.addClass('shown');
                         return table;
                     }).fail(function (err) {
                         return table;
                     });

                }
            });

            $('#tblSalesList tbody').on('click', 'td.donwload-control', function () {
                var tr = $(this).closest('tr');
                var row = saleTable.row(tr);
                var id = row.data().id;
                window.open("@Url.Action("InvoiceReport", "Sale")/" + id + "", "_blank");
            });

            $('#tblSalesList_filter').html('<a href="@Url.Action("NewSale","Sale")" class="btn btn-primary" style="margin-bottom:10px;">New Sale</a>');
        });

        function format(d) {
            var table = '<table class="table">';
            table += '<thead>';
            table += '<tr>';
            table += '<th>Sl#</th>';
            table += '<th>Name</th>';
            table += '<th>Model</th>';
            table += '<th>Band</th>';
            table += '<th>Size</th>';
            table += '<th>Discount</th>';
            table += '<th>Price</th>';
            table += '</tr>';
            table += '</thead>';
            table += '<tbody>';

            var totalDiscount = 0;
            var totalPrice = 0;
            var index = 1;

            $.each(d.invoiceDetails, function () {
                table += '<tr>';
                table += '<td>' + index +'</td>';
                table += '<td>' + this.name+'</td>';
                table += '<td>'+this.model+'</td>';
                table += '<td>'+this.brand+'</td>';
                table += '<td>'+this.size+'</td>';
                table += '<td>'+this.discount+'</td>';
                table += '<td>'+this.salePrice+'</td>';
                table += '</tr>';
                index++;
                totalDiscount += this.discount;
                totalPrice += this.salePrice;
            });

            table += '</tbody>';


            table += '<tfoot>';
            table += '<tr>';
            table += '<td colspan="5">Total : </td>';
            table += '<td>' + totalDiscount+ '</td>';
            table += '<td>' + totalPrice+ '</td>';
            table += '</tr>';
            table += '</tfoot>';
            console.log(table);
            return table;
        }
    </script>

}