@{
    ViewData["Title"] = "Sales List";
}


<div class="row">
    <table id="tblProductList" class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Sl</th>
                <th>Invoice</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Discount</th>
                <th>Action</th>
            </tr>
            <tr>
            <tr>
                <th>Sl</th>
                <th>Invoice</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Discount</th>
                <th>Action</th>
            </tr>
            </tr>
        </thead>
    </table>
</div>
@section scripts{
    <script>
        $(document).ready(function () {



             


            var productTable = $('#tblProductList').DataTable({
                lengthMenu: [[10, 20, 50, 100], [10, 20, 50, 100]],
                processing: true,
                searching: true,
                serverSide: true,
                //scrollX: true,
                //fixedColumns: { leftColumns: 0, rightColumns: 1 },
                ajax: {
                    //"url": "/Prescription/Patients/AllProduct",
                    "url": "@Url.Action("AllSales", "Sale")",
                    "type": "POST",
                    contentType: "application/json",
                    "datatype": "json",
                    data: function (d) {
                        return JSON.stringify(d);
                    }
                },
                columns: [
                    { 'data': 'sl', 'orderable': 'false' },
                    { 'data': 'id' },
                    { 'data': 'SalesDate' },
                    { 'data': 'DiscountAmount' },
                    { 'data': 'TotalAmount' },
                    {
                        'data': 'id',
                        "render": function (id) {
                            console.log(id);
                            return "<a class='btn btn-primary' href='Product/NewProduct/" + id + "'>Edit</a>";
                        }
                    }
                ]
            });

            $(productTable.table().container()).on('keyup', 'thead input', function () {
                var searchText = this.value.trim();
                //if (searchText.length > 2) {
                    productTable.column($(this).parent().index() + ':visible')
                        .search(searchText)
                        .draw();
                //}

            });
            $('#tblProductList_filter').html('<a href="@Url.Action("NewSale","Sale")" class="btn btn-primary" style="margin-bottom:10px;">New Product</a>');
        });
    </script>

}