@model ServerSidejQueryDatatableDotNetCore3._1.ViewModels.InvoiceViewModel;
@{
    ViewData["Title"] = "New Sale";
}

<div class="row text-center">
    @*<div class="alert alert-success">
            <label style="margin:0px auto">New Sale</label>
        </div>*@
</div>

<div class="row">
    <div class="form-inline" action="/action_page.php">
        <div class="form-group">
            <label for="txtProductName">Product:</label>
            <input type="text" class="form-control" id="txtProductName">
            <input type="hidden" class="form-control" id="hidProductId">
        </div>
        &nbsp;
        <div class="form-group">
            <label for="txtProductBrand">Brand:</label>
            <input type="text" class="form-control input-sm" id="txtProductBrand" disabled>
        </div>
        &nbsp;
        <div class="form-group">
            <label for="txtProductModel">Model:</label>
            <input type="text" class="form-control input-sm" id="txtProductModel" disabled>
        </div>
        &nbsp;
        <div class="form-group">
            <label for="txtProductSize">Size:</label>
            <input type="text" class="form-control input-sm" id="txtProductSize" disabled>
        </div>
        &nbsp;
        <div class="form-group">
            <label for="txtProductPrice">Price:</label>
            <input type="text" class="form-control" id="txtProductPrice" disabled="disabled">
            <input type="hidden" class="form-control" id="hidProductPrice">
        </div>
        &nbsp;
        <div class="form-group">
            <label for="txtProductDiscount">Discount:</label>
            <input type="text" class="form-control" id="txtProductDiscount" disabled>
        </div>
        &nbsp;
        <button type="button" id="btnAdd" class="btn btn-primary" disabled="disabled">+</button>
    </div>
</div>
<br />
<br />

@using (Html.BeginForm())
{


    <div class="row">
        
        <table id="tblSalesDetails" class="table table-bordered">
            <thead>
                <tr>
                    <th>Sl</th>
                    <th>Name</th>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Size</th>
                    <th class="text-right">Discount</th>
                    <th class="text-right">Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="tbodySaleDetails">
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="5" class="text-right">Total : </th>
                    <th class="text-right">
                        <input class="form-control" type="text" name="TotalDiscount" readonly="readonly" id="txtTotalDiscount" value="0" />
                    </th>
                    <th class="text-right">
                        <input class="form-control" type="text" name="TotalPrice" readonly="readonly" id="txtTotalPrice" value="0" />
                    </th>
                    <th class="text-right">

                    </th>

                </tr>
            </tfoot>
        </table>
    </div>
    <br />
    <div class="row text-center">
        <button type="submit" class="btn btn-success">Save</button>
    </div>
}


@section scripts{
    <script>
        $(document).ready(function () {


            $('#txtProductName').autocomplete({

                source: function (request, response){
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("GetProductList", "Product")',
                        data: { name: this.term },
                        success: function (data) {
                            response(data);
                        }
                    });
                },
                change: function (event, ui) {
                    if (!ui.item) {
                        clear();
                    }
                },
                select: function (e, ui) {
                    var id = ui.item.id;
                    $.ajax({
                        url: '@Url.Action("GetProductById", "Product")',
                        type: 'GET',
                        data: { id: id }
                    }).done(function (response) {
                        console.log(response);
                        $('#hidProductId').val(id);
                        $('#txtProductBrand').val(response.brand);
                        $('#txtProductModel').val(response.model);
                        $('#txtProductSize').val(response.size);
                        $('#txtProductPrice').val(response.price);
                        $('#hidProductPrice').val(response.price);
                        $('#txtProductDiscount').val('0');

                        $('#txtProductPrice').removeAttr('disabled');
                        $('#btnAdd').removeAttr('disabled');

                    }).fail(function (err) {
                        alert('Not Found');
                    });
                }
            });

            $("input").keyup(function () {
                var oritinalPrice = $('#hidProductPrice').val();
                var currentPrice = $("#txtProductPrice").val();
                if (currentPrice === '') {
                    currentPrice = 0;
                    $('#btnAdd').attr('disabled', 'disabled');
                }
                else {
                    $('#btnAdd').removeAttr('disabled');
                }
                $("#txtProductDiscount").val(oritinalPrice - currentPrice);
            });

            $('#btnAdd').click(function () {
                var productId = $('#hidProductId').val();
                var productName = $('#txtProductName').val();
                var productBrand = $('#txtProductBrand').val();
                var productModel = $('#txtProductModel').val();
                var productSize = $('#txtProductSize').val();
                var productPrice = $('#txtProductPrice').val();
                var productDiscount = $('#txtProductDiscount').val();

                var totalDiscount = $('#txtTotalDiscount').val();
                var totalPrice = $('#txtTotalPrice').val();

                console.log(totalDiscount);
                console.log(totalPrice);

               var rowCount =  $('#tblSalesDetails tbody').find('tr').length + 1;

                
                var rowIndex = rowCount - 1;

                var row = '<tr>'

                row += '<td><label>' + rowCount + '</label></td>';

                row += '<td><label>' + productName + '</label>';
                row += '<input type="hidden" name="InvoiceDetails[' + rowIndex+'].ProductId" value="' + productId + '" /></td>';

                row += '<td><label>' + productBrand + '</label></td>';
                row += '<td><label>' + productModel + '</label></td>';
                row += '<td><label>' + productSize + '</label></td>';

                row += '<td class="text-right"><label>' + productDiscount + '</label>';
                row += '<input type="hidden" name="InvoiceDetails[' + rowIndex +'].Discount" value="' + productDiscount + '" /></td>';

                row += '<td class="text-right"><label>' + productPrice + '</label>';
                row += '<input type="hidden" name="InvoiceDetails[' + rowIndex +'].SalePrice" value="' + productPrice + '" /></td>';

                row += '<td></td>';
                row += '</tr>';
                $('#tbodySaleDetails').append(row);
                $('#txtTotalDiscount').val(parseFloat(totalDiscount) + parseFloat(productDiscount));
                $('#txtTotalPrice').val(parseFloat(totalPrice) + parseFloat(productPrice));
                clear();
            });

        });
        function clear() {
            $('#txtProductName').val('');
            $('#txtProductBrand').val('');
            $('#txtProductModel').val('');
            $('#txtProductSize').val('');
            $('#txtProductPrice').val('');
            $('#hidProductPrice').val('0');
            $('#txtProductDiscount').val('');
            $('#txtProductPrice').attr('disabled', 'disabled');
            $('#btnAdd').attr('disabled', 'disabled');
            $('#hidProductId').val('');
        }

    </script>


}