@{
    ViewData["Title"] = "Home Page";
}


<div class="row text-center">
    <div class="col-sm-6">
        <a class="btn-block hvr-rectangle-out box" href="@Url.Action("Index","Product")">
            <div style="margin:30px;font-size:22px;">Products</div>
        </a>
    </div>

    <div class="col-sm-6">
        <a class="btn-block hvr-rectangle-out box" href="@Url.Action("Index","Sale")">
            <div style="margin:30px;font-size:22px;">Sales</div>
        </a>
    </div>
</div>
