@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row text-center">
    <div class="col-sm-4">
        <a class="btn-block hvr-rectangle-out box" href="#">
            <div style="margin:30px;font-size:22px;">Import Menu</div>
        </a>
    </div>

    <div class="col-sm-4">
        <a class="btn-block hvr-float-shadow box" href="#">
            <div style="margin:30px;font-size:22px;">Import Menu</div>
        </a>
    </div>

</div>
