@{
    ViewData["Title"] = "Product List";
}

<div class="row text-center">
    <label style="margin:0px auto">New Product</label>
</div>

<div class="row">
    <div class="form-group">
        <label for="txtName" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control-plaintext" id="txtName" placeholder="Product Name">
        </div>
    </div>
</div>